#wc_am_lost_api_key_form input[type="text"], #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form.comment-form input[type="text"], .woocommerce form.comment-form input[type="email"], .woocommerce form.comment-form textarea, .woocommerce-page #main .woocommerce-Input, .woocommerce-page #main .woocommerce-ordering select, .woocommerce-page #main .quantity .qty { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

#wc_am_lost_api_key_form input[type="text"]:focus, #add_payment_method table.cart td.actions .coupon .input-text:focus, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce-checkout table.cart td.actions .coupon .input-text:focus, .woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus, .woocommerce form.comment-form input[type="text"]:focus, .woocommerce form.comment-form input[type="email"]:focus, .woocommerce form.comment-form textarea:focus, .woocommerce-page #main .woocommerce-Input:focus, .woocommerce-page #main .woocommerce-ordering select:focus, .woocommerce-page #main .quantity .qty:focus { box-shadow: none; }

#wc_am_lost_api_key_form input[type="text"], #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form.comment-form input[type="text"], .woocommerce form.comment-form input[type="email"], .woocommerce form.comment-form textarea, .woocommerce-page #main .woocommerce-ordering select, .woocommerce-page #main .quantity .qty { display: block; width: 100%; height: 50px; padding: 6px 12px; font-size: 15px; line-height: 1.6; color: #4A4A4A; background-color: #fff; background-image: none; border: 1px solid #DDD; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.woocommerce-message, .woocommerce-error, .woocommerce-info, .woocommerce_message, .woocommerce_error, .woocommerce_info { border-radius: 4px; border: 1px solid transparent; margin-bottom: 20px; padding: 15px !important; }

.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before, .woocommerce_message:before, .woocommerce_error:before, .woocommerce_info:before { display: none; }

.woocommerce-message, .woocommerce_message { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }

.woocommerce-error, .woocommerce_error { background-color: #f2dede; border-color: #ebccd1; color: #a94442; }

.woocommerce-info, .woocommerce_info { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }

.page-template-default:not(.has-sidebar).woocommerce-page article.page, .page-template-default:not(.has-sidebar).lost-api-key article.page { width: 100% !important; }

.archive:not(.has-sidebar).woocommerce-page .site-main { width: 100% !important; }

.form-row { margin-bottom: 15px !important; padding: 0 !important; }

.woocommerce-LostPassword:last-child { margin-bottom: 0; }

@media (max-width: 767px) { .woocommerce ul.products li.product, .woocommerce[class*=columns-] ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product { width: 100%; } }

.woocommerce div.product .woocommerce-tabs .panel { padding-bottom: 2em; }

.woocommerce div.product .woocommerce-tabs #comments { margin-top: 0; }

.product .product_meta > span { display: block; }

.product #respond { text-align: left; }

.product #respond > .comment-form > p label, .product #respond > .comment-form > p span { display: inline-block; }

.product #respond > .comment-form input[type="submit"] { width: auto; }

#wc_am_lost_api_key_form input[type="submit"], #wc_am_lost_api_key_form input[type="submit"]:active, #wc_am_lost_api_key_form input[type="submit"]:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#wc_am_lost_api_key_form input[type="submit"] > .fa { margin-left: 10px; }

#wc_am_lost_api_key_form input[type="submit"], #wc_am_lost_api_key_form input[type="submit"]:active, #wc_am_lost_api_key_form input[type="submit"]:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

#wc_am_lost_api_key_form input[type="submit"]:hover, #wc_am_lost_api_key_form input[type="submit"]:hover:active, #wc_am_lost_api_key_form input[type="submit"]:focus { background-color: #367DC0; color: #FFF; }

#wc_am_lost_api_key_form input[type="submit"]:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment { background: transparent; }

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text { width: 120px; }

@media (max-width: 767px) { #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text { width: 100%; } }

.product .lsx-sharing-content { margin-top: 2em; }

.woocommerce-page #main .products { padding-left: 0; }

.woocommerce-page #main form .form-row label.inline:not(:first-child) { margin-left: 15px; }

.woocommerce-page #main #woochimp_checkout_groups { margin-left: 20px; margin-top: -2.4rem; }

.woocommerce-page #main #woochimp_checkout_groups .label { color: #4A4A4A; display: inline-block; margin-bottom: 15px; }

.woocommerce-page #main #woochimp_checkout_groups label.checkbox { margin-bottom: 0; margin-top: 0; }

.woocommerce-page #main .quantity .qty { width: 70px; }

.woocommerce-page #main #respond input#submit, .woocommerce-page #main #respond input#submit:active, .woocommerce-page #main #respond input#submit:visited, .woocommerce-page #main a.button, .woocommerce-page #main a.button:active, .woocommerce-page #main a.button:visited, .woocommerce-page #main button.button, .woocommerce-page #main button.button:active, .woocommerce-page #main button.button:visited, .woocommerce-page #main input.button, .woocommerce-page #main input.button:active, .woocommerce-page #main input.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.woocommerce-page #main #respond input#submit > .fa, .woocommerce-page #main a.button > .fa, .woocommerce-page #main button.button > .fa, .woocommerce-page #main input.button > .fa { margin-left: 10px; }

.woocommerce-page #main #respond input#submit, .woocommerce-page #main #respond input#submit:active, .woocommerce-page #main #respond input#submit:visited, .woocommerce-page #main a.button, .woocommerce-page #main a.button:active, .woocommerce-page #main a.button:visited, .woocommerce-page #main button.button, .woocommerce-page #main button.button:active, .woocommerce-page #main button.button:visited, .woocommerce-page #main input.button, .woocommerce-page #main input.button:active, .woocommerce-page #main input.button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.woocommerce-page #main #respond input#submit:hover, .woocommerce-page #main #respond input#submit:hover:active, .woocommerce-page #main #respond input#submit:focus, .woocommerce-page #main a.button:hover, .woocommerce-page #main a.button:hover:active, .woocommerce-page #main a.button:focus, .woocommerce-page #main button.button:hover, .woocommerce-page #main button.button:hover:active, .woocommerce-page #main button.button:focus, .woocommerce-page #main input.button:hover, .woocommerce-page #main input.button:hover:active, .woocommerce-page #main input.button:focus { background-color: #367DC0; color: #FFF; }

.woocommerce-page #main #respond input#submit:active, .woocommerce-page #main a.button:active, .woocommerce-page #main button.button:active, .woocommerce-page #main input.button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

@media (max-width: 767px) { .woocommerce-page #main .coupon input.button { float: left; margin-top: 7px; width: 100%; } }

.woocommerce-page #main .woocommerce-Address-title a { display: block; width: 1em; height: 1em; text-indent: -9999px; position: relative; padding: 10px; }

.woocommerce-page #main .woocommerce-Address-title a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f044"; line-height: 1.618; position: absolute; top: 2px; left: 0; height: 100%; width: 100%; text-align: center; text-indent: 0; }

.woocommerce-page #main .woocommerce-MyAccount-content legend { border-bottom: none; }

.woocommerce-page #main .woocommerce-MyAccount-content .woocommerce-form-row { margin-bottom: 1.41575em; }

@media (min-width: 768px) { .woocommerce-page #main .woocommerce-MyAccount-content { width: 76.4705882353%; }
  .woocommerce-page #main .woocommerce-MyAccount-content .form-row-first { float: left; margin-right: 7.6923076923%; width: 38.4615384615%; }
  .woocommerce-page #main .woocommerce-MyAccount-content .form-row-last { float: right; width: 53.8461538462%; } }

@media (min-width: 768px) { .woocommerce-page #main .woocommerce-MyAccount-navigation { margin-right: 5.8823529412%; width: 17.6470588235%; } }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul { border-top: 1px solid #DADDDF; margin-left: 0; padding: 0; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li { border-bottom: 1px solid #DADDDF; list-style: none; position: relative; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a { display: block; padding: .875em 0; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.is-active a:before { opacity: 1; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f0f6"; line-height: 1.618; margin-left: 0.5407911001em; width: 1.41575em; text-align: right; float: right; opacity: .25; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a:hover:before { opacity: 1; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }

/*# sourceMappingURL=maps/woocommerce.css.map */
