#main .woocommerce .woocommerce-Input { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

#main .woocommerce .woocommerce-Input:focus { box-shadow: none; }

/** Structure */
@media (min-width: 992px) { .page-template-default.woocommerce-page article.page { width: 100%; } }

@media (min-width: 1200px) { .page-template-default.woocommerce-page article.page { width: 100%; } }

/** My Account */
#main .woocommerce .woocommerce-MyAccount-content legend { border-bottom: none; }

#main .woocommerce .woocommerce-MyAccount-content .woocommerce-form-row { margin-bottom: 1.41575em; }

@media (min-width: 768px) { #main .woocommerce .woocommerce-MyAccount-content { width: 76.4705882353%; }
  #main .woocommerce .woocommerce-MyAccount-content .form-row-first { float: right; margin-left: 7.6923076923%; width: 38.4615384615%; }
  #main .woocommerce .woocommerce-MyAccount-content .form-row-last { float: left; width: 53.8461538462%; } }

@media (min-width: 768px) { #main .woocommerce .woocommerce-MyAccount-navigation { margin-left: 5.8823529412%; width: 17.6470588235%; } }

#main .woocommerce .woocommerce-MyAccount-navigation ul { border-top: 1px solid #DADDDF; margin-right: 0; padding: 0; }

#main .woocommerce .woocommerce-MyAccount-navigation ul li { border-bottom: 1px solid #DADDDF; list-style: none; position: relative; }

#main .woocommerce .woocommerce-MyAccount-navigation ul li a { display: block; padding: .875em 0; }

.woocommerce-MyAccount-navigation ul li.is-active a:before { opacity: 1; }

.woocommerce-MyAccount-navigation ul li a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f0f6"; line-height: 1.618; margin-right: 0.5407911001em; width: 1.41575em; text-align: left; float: left; opacity: .25; }

.woocommerce-MyAccount-navigation ul li a:hover:before { opacity: 1; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }

.form-row { margin-bottom: 15px !important; padding: 0 !important; }

#main .woocommerce #respond input#submit, #main .woocommerce #respond input#submit:active, #main .woocommerce #respond input#submit:visited, #main .woocommerce a.button, #main .woocommerce a.button:active, #main .woocommerce a.button:visited, #main .woocommerce button.button, #main .woocommerce button.button:active, #main .woocommerce button.button:visited, #main .woocommerce input.button, #main .woocommerce input.button:active, #main .woocommerce input.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; right: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#main .woocommerce #respond input#submit > .fa, #main .woocommerce a.button > .fa, #main .woocommerce button.button > .fa, #main .woocommerce input.button > .fa { margin-right: 10px; }

#main .woocommerce #respond input#submit, #main .woocommerce #respond input#submit:active, #main .woocommerce #respond input#submit:visited, #main .woocommerce a.button, #main .woocommerce a.button:active, #main .woocommerce a.button:visited, #main .woocommerce button.button, #main .woocommerce button.button:active, #main .woocommerce button.button:visited, #main .woocommerce input.button, #main .woocommerce input.button:active, #main .woocommerce input.button:visited { background-color: #418AD0; box-shadow: -2px 2px 0 0 #27639e; color: #FFF; }

#main .woocommerce #respond input#submit:hover, #main .woocommerce #respond input#submit:hover:active, #main .woocommerce #respond input#submit:focus, #main .woocommerce a.button:hover, #main .woocommerce a.button:hover:active, #main .woocommerce a.button:focus, #main .woocommerce button.button:hover, #main .woocommerce button.button:hover:active, #main .woocommerce button.button:focus, #main .woocommerce input.button:hover, #main .woocommerce input.button:hover:active, #main .woocommerce input.button:focus { background-color: #367DC0; color: #FFF; }

#main .woocommerce #respond input#submit:active, #main .woocommerce a.button:active, #main .woocommerce button.button:active, #main .woocommerce input.button:active { right: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }
