.btn { @include lsx-button-scaffolding(); }

#respond {
	& > .comment-form {
		input[type="submit"] { @include lsx-button-scaffolding(); }
	}
}

.btn-md {
	&,
	&:active,
	&:visited {
		font-size: 12px;
		padding: 10px 20px;
	}
}

.btn-lg {
	&,
	&:active,
	&:visited,
	&:hover,
	&:hover:active,
	&:focus {
		font-size: 21px;
	}
}

@include custom-buttons-colours();

@include custom-cta-buttons-colours();
