.content-area,
.widget-area {

	address { margin-bottom: $lsx-gap; }

	a {
		&:not(.btn) {
			transition: all 300ms ease;
			word-wrap: break-word;
		}
	}

	big { font-size: 120%; }

	blockquote {
		border: 0 none;
		font-size: 16px;
		margin: 0 0 $lsx-gap;
		padding: 25px 0 0;
		text-align: center;

		@include media('>=tablet') { padding-top: 30px; }

		& cite {
			display: block;
			font-style: normal;
			margin-top: 1rem;
			text-align: left;
			color: $small;
		}

		& > p {
			border-radius: 10px;
			border-style: solid;
			border-width: 1px;
			display: inline-block;
			font-style: italic;
			font-size: inherit;
			line-height: 1.375;
			padding: 4rem;
			position: relative;

			@include media('>=tablet') { max-width: 80%; }

			&:before {
				border-radius: 50%;
				color: $red-accent; 	// TODO: is it going to be a fixed color?
				content: 'â€';
				font-family: $headings-font-family;
				font-size: 60px;
				font-style: normal;
				height: 50px;
				left: 50%;
				overflow: hidden;
				position: absolute;
				top: -25px;
				transform: translateX(-50%);
				width: 50px;

				@include media('>=tablet') {
					font-size: 72px;
					height: 60px;
					top: -30px;
					width: 60px;
				}
			}
		}
	}

	dl {
		margin-bottom: $lsx-gap;

		& > dt { font-weight: 700; }

		& > dd {
			font-style: italic;

			& + dt { margin-top: $lsx-gap; }
		}
	}

	em { font-style: italic; }

	h1, h2, h3, h4, h5, h6, .widget-title {
		margin-top: 0;
		margin-bottom: $lsx-gap;
	}

	ol, ul {
		margin-bottom: $lsx-gap;
		padding-left: 4rem;

		ol, ul { margin-bottom: 0; }
	}

	p { margin-bottom: $lsx-gap; }

	pre {
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		font-size: 14px;
		margin-bottom: $lsx-gap;
		padding: 2rem;
	}

	small { font-size: 80%; }

	strong { font-weight: 700; }

	table, .table { margin-bottom: $lsx-gap; }
}
