.breadcrumbs-container {
	font-size: 13px;
	line-height: 20px;
	opacity: 0.86;
	padding: {
		bottom: 15px;
		top: 15px;
	}
	position: relative;
	width: 100%;
	z-index: 4;

	@include media('>=phone') {
		margin: {
			left: -9999px;
			right: -9999px;
		}
		padding: {
			left: 9999px;
			right: 9999px;
		}
		width: auto;
	}

	.fa {
		margin: 0 2px;
	}
}

// @include breadcrumbs-colours ();

.breadcrumbs-container {
	background-color: nth($blue, 2);
	color: $small;

	.breadcrumb_last {
		color: white;
	}
}
