#home-widgets {
	margin-top: $lsx-large-gap;

	& > .widget {
		margin-bottom: $lsx-large-gap;

		&.widget_lsx_full_width_alt,
		&.widget_lsx_full_width {
			&:last-child { margin-bottom: 0; }
		}
	}

	h3,
	.widget-title {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: $lsx-large-gap / 2;
		margin-top: 0;
		text-align: center;

		&:after {
			content: '';
			display: block;
			height: 2px;
			margin: $lsx-gap auto 0;
			width: 80px;
		}

		& > small {
			color: inherit;
			display: block;
			line-height: inherit;
			margin-top: 8px;
		}
	}

	.textwidget, p { margin-bottom: 0; }

	p {
		& + p { margin-top: $lsx-gap; }


		& .btn { margin-top: 0; }
	}

	img ~ p { margin-top: $lsx-gap; }

	.btn { margin-top: $lsx-large-gap / 2; }
}

.content-area {
	.lsx-full-width,
	.lsx-full-width-alt {
		margin: 0 -9999rem;
		padding: $lsx-large-gap 9999rem;

		h1, h2, h3, h4, h5, h6, .widget-title {
			&:after { display: none; }
		}
	}
}

.page-header {
	border: 0 none;
	margin: 0 0 $lsx-gap;
	padding: 0;

	& > .page-title { margin-bottom: 0; }
}

@include content-colours();
