@mixin banner-colours ($bg: map-get($banner, bg), $color: map-get($banner, color), $color-image: map-get($banner, color-image)) {
	.archive-header {
		.lsx:not(.single-post) & {
			background-color: $bg;

			.archive-title { color: $color; }
		}
	}

	.page-banner-wrap {
		.page-banner {
			.page-title { color: $color-image; }
		}
	}

	#lsx-banner {
		.soliloquy-caption-inside { color: $color-image; }
	}
}
