@import 'global/variables';
@import 'global/mixins';
@import 'global/placeholders';

// Placeholders

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.6;
	color: #4A4A4A;
	background-color: #fff;
	background-image: none;
	border: 1px solid #DDD;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

%bootstrap-message {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px !important;

	&:before { display: none; }
}

%bootstrap-message-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

%bootstrap-message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

%bootstrap-message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

// Structure

article.page {
	.page-template-default:not(.has-sidebar).woocommerce-page &,
	.page-template-default:not(.has-sidebar).lost-api-key & {
		width: 100% !important;
	}
}

.site-main {
	.archive:not(.has-sidebar).woocommerce-page & { width: 100% !important; }
}

.form-row {
	margin-bottom: 15px !important;
	padding: 0 !important;
}

.woocommerce-LostPassword {
	&:last-child { margin-bottom: 0; }
}

.woocommerce,
.woocommerce-page {
	&,
	&[class*=columns-] {
		ul.products {
			li.product {
				@include media ('<phone') { width: 100%; }

				.woocommerce-loop-category__title,
				.woocommerce-loop-product__title,
				h3 {
					font-size: 22px;
				}
			}
		}
	}
}

.woocommerce {
	div.product {
		.woocommerce-tabs {
			.panel { padding-bottom: 2em; }

			#comments { margin-top: 0; }
		}

		form.cart {
			.variations {
				td.label {
					display: inline-block;
					font-weight: 400;
					font-size: 100%;
					padding: 11px 0;

					label { font-weight: 400; }
				}
			}
		}
	}
}

.product_meta {
	.product & {
		& > span {
			display: block;
			padding: 5px 0;
		}
	}
}

#respond {
	.product & {
		text-align: left;

		& > .comment-form {
			& > p {
				label,
				span { display: inline-block; }
			}

			input[type="submit"] { width: auto; }
		}
	}
}

.woocommerce-variation-price { margin-bottom: 1.618em; }

// Buttons and fields

#wc_am_lost_api_key_form {
	input[type="text"] {
		@extend %bootstrap-form-control;
		@extend %lsx-form-field;
	}

	input[type="submit"] {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
	}
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
	#payment { background: transparent; }

	table.cart {
		td.actions {
			.coupon {
				.input-text {
					@extend %bootstrap-form-control;
					@extend %lsx-form-field;
					width: 120px;

					@include media ('<phone') { width: 100%; }
				}
			}
		}
	}
}

.woocommerce {
	form {
		.form-row {
			input.input-text,
			textarea {
				@extend %bootstrap-form-control;
				@extend %lsx-form-field;
			}
		}

		&.comment-form {
			input[type="text"],
			input[type="email"],
			textarea {
				@extend %bootstrap-form-control;
				@extend %lsx-form-field;
			}
		}
	}

	div.product {
		form.cart {
			.variations {
				select {
					@extend %bootstrap-form-control;
					@extend %lsx-form-field;
				}
			}
		}
	}
}

// LSX Sharing

.lsx-sharing-content {
	.product & { margin-top: 2em; }
}

// WooCommerce wraper

.woocommerce-page #main {

	// Lists

	.products { padding-left: 0; }

	// Labels

	form {
		.form-row {
			label.inline {
				&:not(:first-child) { margin-left: 15px; }
			}
		}
	}

	#woochimp_checkout_groups {
		margin-left: 20px;
		margin-top: -2.4rem;

		.label {
			color: $text-color;
			display: inline-block;
			margin-bottom: 15px;
		}

		label.checkbox {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	// Fields

	.woocommerce-ordering select,
	.quantity .qty {
		@extend %bootstrap-form-control;
	}

	.woocommerce-Input,
	.woocommerce-ordering select,
	.quantity .qty {
		@extend %lsx-form-field;
	}

	.quantity .qty { width: 70px; }

	// Button

	#respond input#submit,
	a.button,
	button.button,
	input.button {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
	}

	.coupon input.button {
		@include media ('<phone') {
			float: left;
			margin-top: 7px;
			width: 100%;
		}
	}

	// Edit address link

	.woocommerce-Address-title {
		a {
			display: block;
			width: 1em;
			height: 1em;
			text-indent: -9999px;
			position: relative;
			padding: 10px;

			&:before {
				@include fa-icon();
				content: "\f044";
				line-height: 1.618;
				position: absolute;
				top: 2px;
				left: 0;
				height: 100%;
				width: 100%;
				text-align: center;
				text-indent: 0;
			}
		}
	}
}

// Messages

.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
.woocommerce_message,
.woocommerce_error,
.woocommerce_info {
	@extend %bootstrap-message;
}

.woocommerce-message,
.woocommerce_message {
	@extend %bootstrap-message-success;
}

.woocommerce-error,
.woocommerce_error {
	@extend %bootstrap-message-error;
}

.woocommerce-info,
.woocommerce_info {
	@extend %bootstrap-message-info;
}

// My account

.woocommerce-page #main {

	// My account - Content

	.woocommerce-MyAccount-content {
		legend { border-bottom: none; }

		.woocommerce-form-row {
			margin-bottom: 1.41575em;
		}

		@include media ('>=phone') {
			width: 76.4705882353%;

			.form-row-first {
				float: left;
				margin-right: 7.6923076923%;
				width: 38.4615384615%;
			}

			.form-row-last {
				float: right;
				width: 53.8461538462%;
			}
		}
	}

	// My account - Menu

	.woocommerce-MyAccount-navigation {
		@include media ('>=phone') {
			margin-right: 5.8823529412%;
			width: 17.6470588235%;
		}

		ul {
			border-top: 1px solid $breaker;
			margin-left: 0;
			padding: 0;

			li {
				border-bottom: 1px solid $breaker;
				list-style: none;
				position: relative;

				a {
					display: block;
					padding: .875em 0;
				}

				// Icons

				&.is-active {
					a:before { opacity: 1; }
				}

				a {
					&:before {
						@include fa-icon();
						content: "\f0f6";
						line-height: 1.618;
						margin-left: 0.5407911001em;
						width: 1.41575em;
						text-align: right;
						float: right;
						opacity: .25;
					}

					&:hover {
						&:before { opacity: 1; }
					}
				}

				&.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }
				&.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }
				&.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }
				&.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }
				&.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }
				&.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007"; }
				&.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }
				&.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }
			}
		}
	}
}
