@import 'global/variables';
@import 'global/mixins';
@import 'global/placeholders';

/**
 * Global
 */

article.page {
	.page-template-default.woocommerce-page & {
		@include media ('>=tablet') { width: 100%; }
		@include media ('>=desktop') { width: 100%; }
	}
}

.form-row {
	margin-bottom: 15px !important;
	padding: 0 !important;
}

.woocommerce-LostPassword {
	&:last-child { margin-bottom: 0; }
}

#main .woocommerce {
	form.checkout_coupon,
	form.login,
	form.register {
		border-color: $breaker;
		border-radius: 0;
	}

	.woocommerce-Input { @extend %lsx-form-field; }

	form {
		.form-row {
			label.inline {
				&:not(:first-child) { margin-left: 15px; }
			}
		}
	}

	#respond input#submit,
	a.button,
	button.button,
	input.button {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
	}

	.woocommerce-Addresses {
		header.title {
			a {
				display: block;
				width: 1em;
				height: 1em;
				text-indent: -9999px;
				position: relative;
				padding: 10px;

				&:before {
					@include fa-icon();
					content: "\f044";
					line-height: 1.618;
					position: absolute;
					top: 2px;
					left: 0;
					height: 100%;
					width: 100%;
					text-align: center;
					text-indent: 0;
				}
			}
		}
	}
}

// Bootstrap pattern
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px !important;

	&:before { display: none; }
}

// Bootstrap pattern (success)
.woocommerce-message {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

// Bootstrap pattern (danger)
.woocommerce-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

// Bootstrap pattern (info)
.woocommerce-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

/**
 * My Account
 */

#main .woocommerce {
	.woocommerce-MyAccount-content {
		legend { border-bottom: none; }

		.woocommerce-form-row {
			margin-bottom: 1.41575em;
		}

		@include media ('>=phone') {
			width: 76.4705882353%;

			.form-row-first {
				float: left;
				margin-right: 7.6923076923%;
				width: 38.4615384615%;
			}

			.form-row-last {
				float: right;
				width: 53.8461538462%;
			}
		}
	}

	.woocommerce-MyAccount-navigation {
		@include media ('>=phone') {
			margin-right: 5.8823529412%;
			width: 17.6470588235%;
		}

		ul {
			border-top: 1px solid $breaker;
			margin-left: 0;
			padding: 0;

			li {
				border-bottom: 1px solid $breaker;
				list-style: none;
				position: relative;

				a {
					display: block;
					padding: .875em 0;
				}
			}
		}
	}
}

.woocommerce-MyAccount-navigation {
	ul {
		li {
			&.is-active {
				a:before { opacity: 1; }
			}

			a {
				&:before {
					@include fa-icon();
					content: "\f0f6";
					line-height: 1.618;
					margin-left: 0.5407911001em;
					width: 1.41575em;
					text-align: right;
					float: right;
					opacity: .25;
				}

				&:hover {
					&:before { opacity: 1; }
				}
			}

			&.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }
			&.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }
			&.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }
			&.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }
			&.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }
			&.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007"; }
			&.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }
			&.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }
		}
	}
}
